<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Flash </ion-card-title>
      <ion-card-subtitle> 7 de outubro de 2014</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg">
      <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais
        de seus novos superpoderes representam uma ameaça.</p>
      <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Os Simpsons </ion-card-title>
      <ion-card-subtitle>  17 de dezembro de 1989 </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/9fSGtPOp3MlFfynLEjYjlOfenbk.jpg">
      <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra.
         Homer trabalha como inspetor de segurança numa usina de energia nuclear.…</p>
      <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Arrow </ion-card-title>
      <ion-card-subtitle> 10 de outubro de 2012 </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg">
      <p>Inspirada nos quadrinhos do Arqueiro Verde, esta série acompanha as aventuras do playboy que se torna super-herói 
        e luta contra vilões armado apenas com arco e flechas.</p>
      <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Grey's Anatomy </ion-card-title>
      <ion-card-subtitle>  27 de março de 2005 </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/eqgIOObafPJitt8JNh1LuO2fvqu.jpg">
      <p>Os médicos do Grey Sloan Memorial Hospital lidam 
        diariamente com casos e consequências de vida ou morte. É um no outro que eles encontram apoio, conforto, amizade…</p>
      <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Dois Homens e Meio </ion-card-title>
      <ion-card-subtitle> 21 de setembro de 2003 </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/dPCv0RaOj2pRxZcUDOoqXFe7Pqn.jpg">
      <p>A vida mulherenga do solteirão Charlie é afetada quando seu irmão divorciado 
        e seu sobrinho de língua afiada vão morar com ele.</p>
      <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>