<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <h2> Guardiões da Galáxia </h2>
        <h5> 30 de julho de 2014 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jp8VuqoeknyLe56JtFDIqhUaRrZ.jpg" />
        <p>O aventureiro do espaço Peter Quill torna-se presa de caçadores de recompensas
          depois que rouba a esfera de um vilão traiçoeiro, Ronan. Para escapar do perigo, ele…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

      <ion-col size="6">
        <h2> Sonic: O Filme </h2>
        <h5> 12 de fevereiro de 2020 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p>Sonic, o ouriço azul mais famoso do mundo, se junta com os seus amigos para derrotar
          o terrível Doutor Eggman, um cientista louco que planeja dominar o mundo, e…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <h2> Um Sonho de Liberdade </h2>
        <h5> 23 de setembro de 1994 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/gD1INoVS8haUutzabwUV7Io6akm.jpg" />
        <p>Em 1946, Andy Dufresne, um jovem e bem sucedido banqueiro, tem a sua vida radicalmente 
          modificada ao ser condenado por um crime que nunca cometeu, o homicídio de…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

      <ion-col size="6">
        <h2> O Poderoso Chefão </h2>
        <h5> 14 de março de 1972 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p>Sonic, o ouriço azul mais famoso do mundo, se junta com os seus amigos para derrotar
          o terrível Doutor Eggman, um cientista louco que planeja dominar o mundo, e…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <h2> À Espera de Um Milagre </h2>
        <h5> 10 de dezembro de 1999 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jp8VuqoeknyLe56JtFDIqhUaRrZ.jpg" />
        <p>1935, no corredor da morte de uma prisão sulista. Paul Edgecomb (Tom Hanks) é o chefe de guarda da prisão, que temJohn Coffey (Michael Clarke Duncan) como um de…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

      <ion-col size="6">
        <h2> Sonic: O Filme </h2>
        <h5> 12 de fevereiro de 2020 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p>Sonic, o ouriço azul mais famoso do mundo, se junta com os seus amigos para derrotar
          o terrível Doutor Eggman, um cientista louco que planeja dominar o mundo, e…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col size="6">
        <h2> Guardiões da Galáxia </h2>
        <h5> 30 de julho de 2014 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jp8VuqoeknyLe56JtFDIqhUaRrZ.jpg" />
        <p>O aventureiro do espaço Peter Quill torna-se presa de caçadores de recompensas
          depois que rouba a esfera de um vilão traiçoeiro, Ronan. Para escapar do perigo, ele…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

      <ion-col size="6">
        <h2> Sonic: O Filme </h2>
        <h5> 12 de fevereiro de 2020 </h5>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg" />
        <p>Sonic, o ouriço azul mais famoso do mundo, se junta com os seus amigos para derrotar
          o terrível Doutor Eggman, um cientista louco que planeja dominar o mundo, e…</p>
        <ion-button color="success" expand="block" fill="outline"> Mais informações...</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>